@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="">Use this page to detail your site's privacy policy.</p>
<div class="text-center text-capitalize text-teal-600 rounded-2xl border-4 border-indigo-200 ">
  hello world i'n from tailwind red<br/>
  get here your work or don't get it would not have importance cina or sounya
</div>
